input,
input:focus {
  outline: none;
}

.container5-container {
  flex: 0 0 auto;
  width: auto;
  height: 40px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 20px;
  align-items: center;
  border-color: var(--dl-color-primary-500);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  background-color: var(--dl-color-primary-500);
}
.container5-container1 {
  flex: 0 0 auto;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-primary-500);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.container5-icon {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
}
.container5-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.container5-link {
  color: rgb(245, 244, 244);
  font-style: normal;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
}
@media (max-width: 991px) {
  .container5-container {
    border-radius: var(--dl-radius-radius-radius4);
  }
  .container5-container1 {
    border-radius: var(--dl-radius-radius-radius4);
  }
}
@media (max-width: 479px) {
  .container5-container {
    z-index: 100;
    margin-top: 40px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .container5-container1 {
    z-index: 100;
    border-radius: var(--dl-radius-radius-radius4);
  }
}

.login-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background-color: var(--dl-color-danger-700); */
  background-color: #556b2f;
}
.login-page-container1 {
  width: 881px;
  height: 600px;
  display: flex;
  max-width: auto;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #020202;
  align-items: center;
  border-radius: 40px;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("../assets/_230a6a52-bb4c-4906-bdef-1f29b49e58cb-1100h.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.login-page-container2 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-page-container3 {
  width: 196px;
  height: 198px;
  display: flex;
  align-self: center;
  box-shadow: 0px 5px 10px 0px #130f0f;
  margin-top: 40px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.79);
}
.login-page-image {
  width: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.login-page-container4 {
  width: 337px;
  height: 230px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 10px;
  align-items: center;
  margin-left: 0px;
  padding-left: 4px;
  flex-direction: column;
  justify-content: center;
}
.login-page-text {
  color: var(--dl-color-gray-white);
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-weight: 300;
}
.login-page-text3 {
  color: var(--dl-color-danger-500);
}
.login-page-text4 {
  color: var(--dl-color-danger-500);
}
.login-page-text5 {
  color: var(--dl-color-danger-500);
}
.login-page-container5 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(82, 66, 66, 0.19);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.login-page-container6 {
  width: 326px;
  height: 434px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 40px;
  align-items: flex-start;
  margin-bottom: 40px;
  flex-direction: column;
}
.login-page-label {
  color: var(--dl-color-gray-white);
  font-size: 50px;
  align-self: center;
  font-style: normal;
  margin-top: 20px;
  font-weight: 800;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.login-page-textinput {
  color: var(--dl-color-gray-white);
  width: 100%;
  align-self: center;
  margin-top: 10px;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom-width: 1px;
}
.login-page-textinput1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  align-self: center;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom-width: 1px;
}
.login-page-link {
  color: var(--dl-color-gray-white);
  align-self: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login-page-button {
  color: #fdfbfb;
  width: 100%;
  font-size: 25px;
  align-self: center;
  font-style: normal;
  margin-top: 20px;
  font-weight: 700;
  border-width: 0px;
  border-radius: 40px;
  margin-bottom: 20px;
  background-image: linear-gradient(
    90deg,
    rgb(189, 195, 199) 0%,
    rgb(74, 153, 232) 100%
  );
}
.login-page-link1 {
  color: var(--dl-color-gray-white);
  align-self: center;
}
@media (max-width: 991px) {
  .login-page-container {
    justify-content: center;
  }
  .login-page-container1 {
    width: 844px;
    position: static;
  }
  .login-page-container4 {
    width: 343px;
    height: 203px;
    margin-top: 25px;
  }
  .login-page-text {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
  }
  .login-page-text2 {
    color: var(--dl-color-danger-500);
  }
  .login-page-text3 {
    color: var(--dl-color-danger-500);
  }
  .login-page-text4 {
    color: var(--dl-color-danger-500);
  }
  .login-page-text5 {
    color: var(--dl-color-danger-500);
  }
  .login-page-container6 {
    width: 305px;
  }
}
@media (max-width: 767px) {
  .login-page-container {
    justify-content: center;
  }
  .login-page-container1 {
    width: 641px;
    height: 488px;
  }
  .login-page-container2 {
    width: 296px;
    position: relative;
  }
  .login-page-container3 {
    top: 0px;
    left: 63px;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
  .login-page-container4 {
    width: 322px;
  }
  .login-page-text {
    display: none;
  }
  .login-page-container5 {
    width: 346px;
    margin-right: 0px;
  }
  .login-page-container6 {
    width: 225px;
  }
}
@media (max-width: 479px) {
  .login-page-container1 {
    width: 100%;
    height: 1002px;
    position: static;
    border-radius: 0px;
    padding-right: 0px;
  }
  .login-page-container2 {
    display: none;
  }
  .login-page-container5 {
    width: 100%;
    border-radius: 0px;
    background-color: rgba(82, 66, 66, 0.35);
  }
  .login-page-container6 {
    width: 323px;
    height: 430px;
  }
}
